* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
}
html {
    font-size: 62.5%;
    line-height: 1;
    font-weight: 400;
    color: #696D76;
}
.container {
    max-width: 117rem;
    margin: 0 auto;
}

/*HEADING*/
.heading-primary {
    font-weight: 700;
    font-size: 6rem;
    line-height: 7rem;
    color: #212832;
}
.heading-secondary {
    font-weight: 700;
    font-size: 4rem;
    line-height: 5rem;
    color: #212832;
}

/*COLOR*/
.sub-primary-color {
    color: #7264D6
}